<div class="default_30-1240">
  <div class="navbar">
    <span class="text-app-maromba_32-834">Web Maromba</span>
  </div>

  <div class="body">
    <div class="left-content_30-1244">
      <div class="content-card_30-1245">
        <div class="titulo-container">
          <h1>Controle de Refições</h1>
          <hr />
        </div>

        <div>
          
          <select [(ngModel)]="refeicaoSelecionada" id="refeicao">
            <option *ngFor="let refeicao of refeicoes" [value]="refeicao">{{ refeicao }}</option>
          </select>
        </div>

        <div class="titulo-container">
          <!-- <h2>{{ refeicaoSelecionada }}</h2> -->
           <br>
          <hr />
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <input [(ngModel)]="novaRefeicaoNome" placeholder="Nome da refeição" />
            <input [(ngModel)]="novaRefeicaoCalorias" type="number" placeholder="Calorias" />
            
            
            <label class="custom-file-upload">
              <input type="file" (change)="onFileChange($event)" accept="image/*" />
              Selecionar Imagem
            </label>
            
            <button type="button" class="btn-enviar" (click)="adicionarRefeicao()">+</button>
          </div>
          <br />
          <hr />
          <div>
            <ul>
              <li *ngFor="let r of (refeicaoSelecionada === 'Café da manhã' ? cafeDaManha : 
                                   refeicaoSelecionada === 'Almoço' ? almoco : 
                                   refeicaoSelecionada === 'Janta' ? janta : 
                                   lanches)">
                <img [src]="r.imagem" alt="{{ r.nome }}"  />
                {{ r.nome }} - {{ r.calorias }} calorias
                <button class="btn-excluir"  (click)="excluirRefeicao(r)">X</button>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>

    <div class="right-content_30-1294">
      <div class="consumo-total_30-1351">
        <h2>Calorias totais: </h2>
        <p style="margin-top: 0%; color: #D32F2F; font-weight: bold; font-size: larger; font-family: Helvetica;">
          {{ totalCalorias }}  Kcal
        </p>

      </div>
      <div class="calend-rio_30-1295">
        <div style="display: flex; justify-content: space-between;">
        <h2 style="margin-left: 1%;">Consumo totais :</h2>
        <button class="btn-excluir" (click)="excluirTodos()">Excluir</button>
        </div>
        <hr>
        <ul>
          <li *ngFor="let refeicao of refeicoesDoDia">
            <img [src]="refeicao.imagem" alt="{{ refeicao.nome }}"  />
            {{ refeicao.nome }} - {{ refeicao.calorias }} calorias
          </li>
        </ul>
       
      </div>
    </div>
    
  </div>
</div>
