
hr{
  width: 70%;
  margin-left: 0%;
}

.titulo-container{
  width: 100%;
  
}

.btn-add {
  background-color: #D32F2F;
  width: 40px;
  height: 40px;
  margin-right: 5%;
  border: none;
  border-radius: 20%;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  font-size:large;
}


.default_30-1240 {
    display: flex;
    width: 100%;
    height: 1024px;
    flex-direction: column;
    align-items: flex-start;
    background: #2C2C2C;
}
.navbar {
  padding: 8px 32px 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #D32F2F;
  height: 74px;
  width: -webkit-fill-available;
}
.text-app-maromba_32-834 {
  color: #ffffff;
  font-size: 36px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.bot-o_32-844 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background: #D32F2F;
  width: 150px;
  height: 45px;
}
.x--cones_32-845 {
  width: 24px;
  height: 24px;
}

.text-name-sample_32-846 {
  color: #ffffff;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  width: -webkit-fill-available;
  height: 100%;
}
.left-content_30-1244 {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  width: -webkit-fill-available;
  height: 100%;
}
.content-card_30-1245 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-width: 1px;
  background: white;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0px 4px 4px 0px #0000003f;
}

.right-content_30-1294 {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  overflow: hidden;
  width: -webkit-fill-available;
  height: 100%;
}
.calend-rio_30-1295 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
  border-color: #b3b3b3;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0px 4px 4px 0px #0000003f;
}

.consumo-total_30-1351 {
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
  border-color: #b3b3b3;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: -webkit-fill-available;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
